.layout {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.2fr 1.8fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'Titre Titre'
    'Deck Main';
  height: 100vh;
}

.Deck {
  grid-area: Deck;

  border: 2px dotted firebrick;
}

.Main {
  grid-area: Main;

  border: 2px dotted yellowgreen;
}

.Titre {
  grid-area: Titre;
}
