.layout {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  grid-template-rows: 0.2fr 1.8fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'Titre Titre'
    'Aside Main';
  height: 100vh;
}

.Aside {
  grid-area: Aside;

  border: 2px dotted firebrick;

  .fixedContainer {
    position: fixed;
  }
}

.Main {
  grid-area: Main;

  border: 2px dotted yellowgreen;
}

.Titre {
  grid-area: Titre;
}
